# =========================================================
# Local Development Configuration
# =========================================================

POSTGRES_USER=airflow

POSTGRES_PASSWORD=airflow_password


# =========================================================
# Airflow
# =========================================================

AIRFLOW_ADMIN_USER=admin

AIRFLOW_ADMIN_PASSWORD=admin

AIRFLOW_ADMIN_EMAIL=admin@example.com

AIRFLOW_SECRET_KEY=local-development-secret-change-before-deployment

AIRFLOW_FERNET_KEY=Onj1EMOC45zoDIBMIEb8PGjwWZjarutQko4IZt0NpZ8=


# =========================================================
# Real-Time Processing
# =========================================================

WINDOW_SECONDS=60

DB_BATCH_SIZE=50