# =========================================================
# Python
# =========================================================

__pycache__/

*.py[cod]

*.pyo

*.pyd


# =========================================================
# Virtual Environments
# =========================================================

.venv/

venv/

env/


# =========================================================
# Secrets
# =========================================================

.env

.env.*

!.env.example


# =========================================================
# Airflow Runtime
# =========================================================

airflow/logs/*

airflow/data/*.json

airflow/dags/__pycache__/


# =========================================================
# IDE
# =========================================================

.vscode/

.idea/


# =========================================================
# OS
# =========================================================

.DS_Store

Thumbs.db


# =========================================================
# Temporary Files
# =========================================================

*.tmp

*.log